@import '../../mixin.sass'

.info-wrap
  position: relative
  z-index: 7
  cursor: pointer
.burger
  overflow: hidden
  max-height: 40px
  +rwdmax(767)
    max-height: 24px
  p
    font-size: px(40)
    font-weight: 500
    transition: transform 1s ease-in-out, opacity .4s ease-in-out .8s
    +rwdmax(767)
      font-size: px(24)
  // .close
  //   transform: translateX(-300%)
  //   opacity: 0
  // &.active
  //   .show
  //     transform: translateX(-300%)
  //     opacity: 0
  //   .close
  //     transform: translateX(0)
  //     opacity: 1